body {
               padding-top: 100px;
               font-family: 'allstate_sansregular', Open Sans, Arial, Helvetica, sans-serif;
               
}

body:before{
	content: ' ';
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
    background-image: url(/Templates/ion/Launch_Pad_946_v2.0/Masters/2016_Responsive_Bundle/bg.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.main {
  padding: 5px;
  text-align: center;
}
h1{
	font-size: 60px;
    color: #fff;
    font-family: 'allstate_sansblack', Open Sans, Arial, Helvetica, sans-serif;
}
h2{
	font-size: 20px;
    color: #fff;
    font-family: 'allstate_sansblack', Open Sans, Arial, Helvetica, sans-serif;
}
.lead {
  font-size:14px;
      margin: 20px 0 40px;
}
.navbar-menu {
	float:right;
	color:#fff;
	position: relative;
	font-size:12px;
	line-height: 100px;
	font-weight:600;
	vertical-align:bottom;
}
.navbar-toggle {
    position: relative;
    float: right;
    margin:28px 15px 5px 5px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
	vertical-align:bottom;
	height: 44px;
}
.navbar-header {
	padding: 0;
	min-width: 320px;
}
.navbar-brand {
	float: left;
	height: 100px;
	margin: auto 15px;
	text-align:center
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.navbar-brand img {
	display: inline-block;
    vertical-align: middle;
}
#top-quote {
	line-height: 60px;
    background-color: rgb(256, 256, 256);
    background-color: rgba(256, 256, 256, .2);
    padding: 0 25px;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
#top-quote:hover {
    background-color: rgb(256, 256, 256);
    background-color: rgba(256, 256, 256, .4);
}
.cta, .cta:active {
  background-color:#ed7320;
  border: 0 !important;
  color:#fff;
  font-weight:600;
  padding:20px 60px !important;
  border-radius:0px !important;
  font-size:30px !important;
  -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.cta:hover, .cta:visited, .cta:focus {
	border: 0;
  color:#fff;
  background:#eaa200;
  -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.nav > li {font-size:16px}
#learn-more {
	margin: 260px auto 10px;
	font-weight: 800;
	font-size: 14px;
	color: #777;
}
#icons {
	margin: 5px auto;
	width: 250px;
	color: #fff;
	text-align: left;
	font-size: 18px;
	vertical-align: middle;
	font-weight: 600;
}
#icons a {
	color: #fff;
	text-decoration:underline;
}
.disclaimer {font-size:10px;
	color:#fff;
	margin:50px 15px 20px;
}
.navbar-nav {
	background-color: #00467f;
}
@media (min-width:768px) and (max-width:992px) {
	.navbar-menu{display:none}
	.navbar-nav{margin:3px 0px; float:right;}
	.navbar-brand{float:left;padding-left:15px}
	.navbar-header{min-width: 0px;}
	.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:focus,.navbar-inverse .navbar-nav>.active>a:hover{color:#fff;background-color:transparent}
	.nav > li {border:none; font-size:11px}
	.navbar-nav {
	background-color: transparent;}
	.container {width:760px}
	.disclaimer {
	margin: 30px 20px 20px;}
	h1 {font-size: 80px;}
  h2 {font-size: 40px;}
  .lead {font-size:18px;}
}
@media (min-width:992px) {
	h1 {font-size: 100px; margin-top: 30px;}
  h2 {font-size: 40px;}
  .lead {font-size:18px;}
	.navbar-menu{display:none}
	.navbar-nav{margin:0px 20px; float:right}
	.navbar-brand{float:left; padding-left:15px}
	.navbar-header{min-width: 0px;}
	.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:focus,.navbar-inverse .navbar-nav>.active>a:hover{color:#fff;background-color:transparent}
	.nav > li {border:none; font-size:12px}
	.navbar-nav {
	background-color: transparent;}
	.disclaimer {
	margin:100px 20px 15px;
}
}
