/*
===========================
Added By Chanda
===========================
*/
/* NEW CSS FOR CLOCK */
body{ position:relative;}
.bottom-clock{ width: 45% !important;}
img.badge-image {
    float: right;
    right: -32px;
    position: absolute;
    top: -30px;
}
.ok-link {
    position: relative;
}
.ok-link a {
    margin-right: 69px;
}
.ok-link {
    position: relative;
}
div.countdown-1 {
    float: left;
    margin-right: 16px;
}
p.clock-text {
    float: left;
    font-size: 23px;
    color: #f00;
    font-weight: bold;
}
.clock-div {
    width: 76%;
    margin: 0 auto;
}
.pop-message-box {
    position: absolute;
    top: 1%;
    left: 33%;
}
.active-pop{ overflow-y:hidden;}
.ok-link a {
    font-size: 20px;
    text-decoration: none;
    float: right;
    /* padding-right: 90px; */
    background: #f00;
    text-align: center;
    display: block;
    padding-left: 34px;
    padding-right: 39px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    color: #fff;
}
.pop-message-box {
    z-index: 11; display:none;
}
.overrelay-background {
    background: rgba(51, 51, 51, 0.48);
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 10;display:none;
}
.ok-link {
    background: #fff;
    padding-right: 48px;
    padding-bottom: 23px;
}
/* NEW CSS FOR CLOCK */


.red-color{ color:#f00; font-weight:bold;}
p.availability-now-p {
    margin-top: 15px;
}
.availability-now-button
{
    white-space: pre-line !important;
}
.page-id-2410 header.site-header {
    display: none;
}
.page-id-2479 header.site-header {
    display: none;
}
body.page.page-id-2454 header.site-header {
    display: none;
}
.page.page-id-2386 header.site-header {
    display: none;
}

.page-id-2410 header.entry-header {
    display: none;
}
.page-id-2479 header.entry-header {
    display: none;
}
body.page.page-id-2454 header.entry-header {
    display: none;
}
.page.page-id-2386 header.entry-header {
    display: none;
}

.page.page-id-2386,.page-id-2410 ,body.page.page-id-2454 ,.page-id-2479 {
    margin: 0px;
}
body.page.page-id-2386,.page-id-2410 ,body.page.page-id-2454 ,.page-id-2479{
    font-family: arial !important;
}
.page-id-2410 .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.page.page-id-2386 .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
body.page.page-id-2454 .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
.page-id-2479 .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
.page-id-2410 footer.site-footer {
    display: none;
}
.page-id-2479 footer.site-footer {
    display: none;
}
.page.page-id-2386 footer.site-footer {
    display: none;
}
body.page.page-id-2454 footer.site-footer {
    display: none;
}
.row-main-content.row {
    overflow: visible !important;
}

p.availability-now-p img {
    display: block;
    margin: 0 auto;
}
p.availability-now-p img {
    margin-bottom: 2px;
}
img {
    max-width: 100%;
    height: auto;
}
.row.row-head {
    overflow: visible !important;
}
p.availability-now-p {
    margin-bottom: 0px;
}
p.text-center.enter-your-correct-email {
    margin-top: 0px;
}

.logo-main {
    padding-top: 37px;
}
.container-fluid-container-head {
   /* background:url(http://45minutepaydays.com/wp-content/uploads/45-minutepaydays-bg.jpg);
    background-repeat: repeat-x; */     background: #2caec8;
}
.container-fluid-main-content{ background:#fff url(../images/45-minutepaydays-main-content-bg.jpg);    background-repeat: repeat-x;}
.display-3 {
    font-size: 48px;
    font-weight: 300;
}
.form-bg{ background:url(../../../45minutepaydays.com/wp-content/uploads/45-minutepaydays-main-content-form-bg.jpg);}
.form-head {
    background: url(../../../45minutepaydays.com/wp-content/uploads/45-minutepaydays-bg-form-head.jpg);
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 4PX;
    font-size: 15px;
    color: #D0E558;
    font-weight: bold;    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.availability-now-button{}
.list-style-type-green li{ background:url(../../../45minutepaydays.com/wp-content/uploads/list-style-type-green-icon.jpg);}
ul.list-style-type-green {
    padding: 0px;
    list-style-type: none;
}
.list-style-type-green li {
    background: url(../../../45minutepaydays.com/wp-content/uploads/list-style-type-green-icon.jpg);
    background-repeat: repeat-y;
    padding-left: 34px;
    margin-left: 39px;
    padding-bottom: 10px;
    font-size: 20px;
    background-repeat: no-repeat;
}
.form-bg {
    padding-top: 4px;
    padding-bottom: 1px;
}
.form-bg {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.form-group.form-bg label {
    font-size: 20px;
}
.container-fluid-container-head {
   /* padding-top: 2%;
    padding-bottom: 1%; */
}
.footer-menu ul li {
    float: left;
    list-style-type: none;
    padding-left: 24px;
    padding-bottom: 10px;
}
.footer-menu ul li a {
    color: #000;
    font-weight: 600;
}
.footer-menu ul {
    padding: 0px;
}

.availability-now-button {
   background-image: url(../../../45minutepaydays.com/wp-content/uploads/45-minutepaydays-button-bg.jpg) !important;
    font-size: 33px;
    color: #fff !important;
    display: block;
    margin: 0 auto;
    margin-top: 6px;
    margin-bottom: 5px;
    font-weight: normal;
    background-size: 9.2px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
}
.form-bg {
    background-repeat: repeat-x;
}
.availability-now-button:hover {
    color: #fff;
    outline: 0px;
}
.text-shadow{    color: #F00 !important;
    text-shadow: 2px 1px #3C3636;}
.padding-top-10{ padding-top:10px;}
.container.container-head p {
    color: #fff;
    font-weight: bold;
    padding-left: 13px;
}
.display-4 {
    font-size: 51px;
    font-weight: 300;
}
mark {
    color: #000;
    background: #ff0 !important;
    padding: 0px !important;
}
.text-red{ color:red;}
.div-border{ /* background:url(http://45minutepaydays.com/wp-content/uploads/congratulations-bg.jpg);background-position: center; */     border: 5px solid #EA740D; }
.div-border {
    margin-top: 26px;
    background-repeat: no-repeat;
}
.div-border {
}
.div-border h1{ text-shadow: 2px 1px #3C3636; color:#0590ff;}
.div-border h1,h2, h3 {
    margin-top: 0px;margin-bottom: 12px;
}
.div-border {
    padding-bottom: 25px;
    padding-top: 25px;
}

.container {
    width: 1170px;
    margin: 0 auto;
}
.text-center {
    text-align: center;
}
.form-control {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
img.center-block {
    display: block;
    margin: 0 auto;
}
.btn {
    vertical-align: middle;
}
.availability-now-button {
    padding-top: 10px;
    padding-bottom: 10px;
}
/* NEW CSS */

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}
.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-header:after,
.modal-footer:after {
  clear: both;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 47%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
       /* width: 29.333333%; */
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
}

@media only screen and (min-width : 200px)  and (max-width : 300px)  {
/* Width 240px */

/* 05-07-2015 */
.op-custom-html-block {
    font-size: 12px !important;
}

/* 05-07-2015 */



.joinbttn.col-sm-4 a {
    font-size: 66% !important;
}
.joinbttn.col-sm-4 {
    width: 92%;
    margin-right: 6px;
}
.joinbttn.col-sm-4 {
    text-align: center;
}
.joinbttn.col-sm-4 {
    width: 92%;
    margin-right: 6px;
}

.hilite {
    font-size: 31px;
    line-height: 32px;

}
/* NEW CSS */
.video-frame {
    position: relative;
    width: 200px !important;
    height: 151px !important;
}
.blue-box {
    background: #b9e0fe url('images/orange-box.html') repeat-x;
    padding: 10px;
    width: 197px !important;
    margin: 0px auto 20px auto;
}

.cream-box h1 {
    font-size: 21px !important;
}

.cream-box h2 {
    font-size: 20px !important;
}

.right-content {
    background: #fff2f2;
    border: 1px solid #79000d;
    margin: 0px !important;
    padding: 0px;
    font-size: 14px;
}
img.get-an-estimate-button {
    display: none;
}

.hilite {
    font-size: 36px !important;
}

.riskfree {
    padding: 10px !important;
}
.col-sm-12.try-message .col-sm-8 {
    width: 100% !important;
    padding: 10px !important;
}
.joinbttn {
    text-align: center;
}

/* NEW CSS END */




.right-content {
    background: #fff2f2;
    border: 1px solid #79000d;
    margin: 0px !important;
    padding: 0px;
    font-size: 14px;
}
/* ONLY FOR OP-TIN */

.op-tin-page .form-control {
    display: block;
    width: 94% !important;
}

.op-tin-page input.check-for-availability-now {
    width: 207px;
    height: 25px;
    background-size: 100% !important;
}
.op-tin-page input.check-for-availability-now:hover {
    background-position: 0 -78px!important;
}

.op-tin-page .form-bg {
    background-size: 19px;
}


/* ONLY FOR OP_TIN END */




p.availability-now-p img {
    width: 90%;
}

.div-border{
    width: 95% !important;
}
.form-group.form-bg .col-sm-4 {
    padding-left: 26px !important;
}
.row {
    margin: 0px !important;
}
.availability-now-button {
font-size: 11px;
margin-left: 11px;
height: 59px;
font-size: 9px !important;
color: white !important;
}
.container{ padding: 0px !important;}

ul.list-style-type-green li {
font-size: 14px;
}
.div-border h1 {
    font-size: 23px !important;
}
.row-main-content.row {
    overflow: visible !important;
}
.row-main-content h1 {
    font-size: 34px;
}

.div-border {
    font-size: 10px;
}
.row-main-content h1 {
    font-size: 34px;
}

.form-control {
    margin-top: 4px;
    margin-bottom: 4px;
}
.container {
    width: 100%;
    margin: 0 auto;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px; width:100%;
    padding-right: 0px !important;
    padding-left: 0px !important;
}
html {
    overflow-x: hidden;
}
.container-fluid-container-head {
    background-repeat: repeat;
}
.row-head p {
    margin-top: 5px;
}

ul.list-style-type-green li {
    margin-left: 0px ;
}
p.form-head.text-center {
    font-size: 10px;
}
.form-group.form-bg label {
    font-size: 15px ;
}
.form-control {
    display: block;
    width: 63% !important;
}
.availability-now-button {
    font-size: 11px;
    width: 93%;
    margin-left: 11px; height:59px;
}
.form-bg {
    background-repeat: repeat;
}
p.text-center.enter-your-correct-email {
    margin-top: 13px;
    padding-right: 27px;
}
.row-footer.row {
    margin-left: 0px;
}
.availability-now-button {
    margin-left: -7px !important;
}

}


@media only screen and (min-width : 301px) and (max-width : 460px) {
                                                         /* Only for 320 px */

		.joinbttn.col-sm-4 {
    width: 90%;
    display: block;
    margin: 0 auto;
    float: inherit;
}

		.joinbttn.col-sm-4 {
    text-align: center;
}
.col-sm-12.try-message .col-sm-8 {
    padding: 10px !important;
}
.col-sm-12.try-message .col-sm-8 {
    width: 100% !important;
}
	.col-sm-3.right-content {
    margin-left: 0px;
}
.blue-box h1
{ font-size:28px !important;

}
.blue-box {
    width: 249px !important;
}

 .cream-box h1 {
    font-size: 21px;
}
.cream-box h2 {
    font-size: 20px;
}








.video-frame {
    width: 254px !important;
    height: 189px !important;
    margin-bottom: 10px;
}

.form-bg {
    background-size: 10%;
}

/* ONLY FOR OP-TIN */

.op-tin-page .form-control {
    display: block;
    width: 90% !important;
}

.op-tin-page input.check-for-availability-now {
    width: 257px;
    height: 32px;
    background-size: 100% !important;
}

.op-tin-page input.check-for-availability-now:hover {
    background-position: 0 -96px!important;
}

/* ONLY FOR OP-TIN END */


.form-group.form-bg .col-sm-4 {
    padding-left: 26px !important;
}
.div-border{
    width: 96% !important;
}
.row {
    margin: 0px !important;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    width: 100%;
}
p.availability-now-p img { width: 91%; }
p.form-head.text-center {
    font-size: 10px;
}
.div-border h1 {
    font-size: 23px !important; margin-bottom: 0px;
}
.row-main-content h1 {
    font-size: 34px;
}

ul.list-style-type-green li {
    font-size: 15px;
}
 .availability-now-button {
    font-size: 12px;
    width: 76%;
    margin-left: 11px; height:59px;
}
.container {
    width: 100%;
    margin: 0 auto;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 0px !important;
    padding-left: 0px !important;
}
html {
    overflow-x: hidden;
}
.container-fluid-container-head {
    background-repeat: repeat;
}
.row-head p {
    margin-top: 5px;
}

ul.list-style-type-green li {
    margin-left: 0px ;
    font-size: 15px ;
}
.form-group.form-bg label {
    font-size: 15px ;
}
.form-control {
    display: block;
    width: 63% !important;
}


.form-bg {
    background-repeat: repeat;
}
p.text-center.enter-your-correct-email {
    margin-top: 13px;
    padding-right: 27px;
}
.row-footer.row {
    margin-left: 0px;
}

.footer-menu ul li {
    float: left;
    list-style-type: none;
    padding-left: 9px;
    padding-bottom: 10px;
}
.col-sm-7.col-sm-offset-3.footer-menu ul li a {
    font-size: 13px;
}
.footer-menu {
    padding-left: 4px;
}
.div-border h2 {
    font-size: 20px;
}

}

@media only screen and (min-width : 461px) and (max-width :750px) {
                                                              /* Only for 480 px */


	/* 05-07-2016 */

	p.access-message {
    font-size: 18px !important;
}


	/* 05-07-2016 */


	.joinbttn.col-sm-4 {
    width: 50%;
    display: block;
    /* margin-right: 24%; */
    margin: 0 auto;
    float: inherit;
    text-align: center;
}
.joinbttn.col-sm-4 {
    text-align: center;
}
.col-sm-12.try-message .col-sm-8 {
    padding: 10px !important;
}
.col-sm-12.try-message .col-sm-8 {
    width: 100% !important;
}


		.col-sm-3.right-content {
    margin-left: 0px;
}
.right-content img {
    width: 100%;
}
	.blue-box {
    width: 406px !important;
}

.form-bg {
    background-size: 10%;
}
.video-frame {
    width: 400px !important;
    height: 303px !important;
    margin-bottom: 10px;
}

/* OP-TIN START */
.op-tin-page input.check-for-availability-now {
    width: 423px;
    height: 53px;
    background-size: 100% !important;
}

.op-tin-page input.check-for-availability-now:hover {
    background-position: 0 -53px!important;
}

/* OP-TIN END */


.form-group.form-bg .col-sm-4 {
    padding-left: 26px !important;
}

.div-border {
    width: 98% !important;
}
.row {
    margin: 0px !important;
}
.div-border h1 {
 margin-bottom: 0px;
}
.container {
    width: 100%;
    margin: 0 auto;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
   /* padding-right: 15px;
    padding-left: 15px; */ width: 100%;
   /* width: 94%; */
   padding-right: 0px !important;
    padding-left: 0px !important;
}
p.availability-now-p img { width: 94%; }

html {
    overflow-x: hidden;
}
.container-fluid-container-head {
    background-repeat: repeat;
}
.row-head p {
    margin-top: 5px;
}

ul.list-style-type-green li {
    margin-left: 0px ;
    font-size: 21px ;
}
p.form-head.text-center {
    font-size: 10px;
}
.form-group.form-bg label {
    font-size: 15px ;
}
.form-control {
    display: block;
    width: 82% !important;
}

.availability-now-button {
    font-size: 19px; height:60px;
    width: 90%;    margin-left: 9px;
}
.form-bg {
    background-repeat: repeat;
}
p.text-center.enter-your-correct-email {
    margin-top: 13px;
    padding-right: 27px;
}
.row-footer.row {
    margin-left: 0px;
}

.footer-menu ul li {
    float: left;
    list-style-type: none;
    padding-left: 9px;
    padding-bottom: 10px;
}
.row.row-head p {
    font-size: 15px;
}
}

@media only screen and (min-width : 751px) and (max-width : 1000px) {
/* Only for 768 px */

/* 05-07-2016 */

.blue-bg {
    background: #06acef;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    margin-left: 0px !important;
    margin-bottom: 11px;
}

.safari .people-saying{    background: #82000d;}
.safari .people-saying img { display:block; margin:0 auto;}
.safari .video-frame {
    margin-top: 0px !important;
}
img.calculate-your-potential-income {
    width: 300px;
}

.safari img.center-image {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* 05-07-2016 */



.joinbttn.col-sm-4 {
    cursor: pointer;
    clear: both;
}
	.joinbttn.col-sm-4 {
    width: 60%;
    display: block;
    /* margin-right: 24%; */
    margin: 0 auto;
    float: inherit;
    text-align: center;
	}
.video-frame {
    height: 362px !important;
    margin-bottom: 10px;
    margin-top: 236px;
}
/* ONLY FOR OP TIN PAGE */
.op-tin-page .form-group.form-bg .col-sm-8{
    margin-left: 9% !important;
}
.op-tin-page .col-sm-8 {
    width: 80% !important;
}
.op-tin-page .form-group.form-bg .col-sm-4 {
    padding: 0px;
    width: 32%;
    margin-right: 7px;
}

/* ONLY FOR OP TIN PAGE */



.form-group.form-bg label {
    font-size: 17px;
}
.col-sm-6 {
width: 45.1%;
float: left;
padding-bottom: 10px;
}
.container {
    width: 100%;
    margin: 0 auto;
}

html {
    overflow-x: hidden;
}

.col-sm-4 {
    width: 27.333333%;float: left;
}
.col-sm-offset-3 {
    margin-left: 11%;
}

.availability-now-button {
    font-size: 25px !important;
}
.col-sm-7.col-sm-offset-3.footer-menu {
    padding: 0px;
    width: 610px;
}
}

@media only screen and (min-width : 1001px) and (max-width : 1030px) {
 /* Only for 1024 px */

 .blue-bg {
background: #06ACEF;
padding: 10px;
border-radius: 10px;
width: 80%;
margin-left: 10%;
}

.safari .riskfree .col-sm-9 {
width: 93% !important;
}
.safari .riskfree .center-image{width: 100%;}
 img.calculate-your-potential-income {
}

 .joinbttn.col-sm-4 {
    cursor: pointer;
    clear: both;
}
 	.joinbttn.col-sm-4 {
    width: 50%;
    display: block;
    /* margin-right: 24%; */
    margin: 0 auto;
    float: inherit;
    text-align: center;

	}
 .video-frame {
    height: 366px !important;
    margin-top: 19% !important;
    margin-bottom: 19px !important;
}
.col-sm-6 {
    width: 46.1% !important;
}
/* ONLY FOR OP TIN PAGE */

.op-tin-page .col-sm-8 {
    width: 80% !important;
}
.op-tin-page .form-group.form-bg .col-sm-4 {
    padding: 0px;
    width: 32%;
    margin-right: 7px;
}

.op-tin-page .form-group.form-bg .col-sm-8 {
    margin-left: 11%;
}



/* ONLY FOR OP TIN PAGE */
.availability-now-button {
    font-size: 27px !important;
    display: block;
    margin: 0 auto; margin-top: 7px;
    margin-bottom: 7px;
}

.row.row-head p {
    font-size: 15px;
}
.list-style-type-green li {
    font-size: 19px;
}
.container {
    width: 100%;
    margin: 0 auto;
}

html {
    overflow-x: hidden;
}

.col-sm-6 {
    width: 45.10%;
}
.col-sm-4 {
    width: 27.333333%;
}
.availability-now-button {
   height:59px;
}
.col-sm-offset-3 {
    margin-left: 11%;
}

.availability-now-button {
    font-size: 27px;
}
.col-sm-7.col-sm-offset-3.footer-menu {
    padding: 0px;
    width: 610px;
}
.col-sm-7.col-sm-offset-3.footer-menu {
    width: 604px;
    margin-left: 20%;
}
}
img.aligncenter.size-full.wp-image-2459 {
    display: block;
    margin: 0 auto;
}
/* Home Cash Code - sale letter */
/* NEW SALE PAGE */
.right-image {
    float: right;
    margin-left: 10px;
}
.left-image {
    float: left;
    margin-right: 10px;
}
.center-image{ display:block; margin:0 auto;}
.hilite {
    background: url("images/header03.html") no-repeat scroll 174px top rgba(0, 0, 0, 0);
    color: #000;
    font-family: "proxima-nova",sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    padding-bottom: 22px;
    text-shadow: 2px 2px 3px #C9C9C9;
    text-align: center;
}
.joinbttn {
    float: right;
    font-size: 21px;
    color: #FFF;
    text-transform: uppercase;
    background: #0350A8;
    background: -moz-linear-gradient(top, #0067DD 0%, #0350A8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0067DD), color-stop(100%,#0350A8));
    background: -webkit-linear-gradient(top, #0067DD 0%,#0350A8 100%);
    background: -o-linear-gradient(top, #0067DD 0%,#0350A8 100%);
    background: -ms-linear-gradient(top, #0067DD 0%,#0350A8 100%);
    background: linear-gradient(top, #0067DD 0%,#0350A8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0067DD', endColorstr='#0350A8',GradientType=0 );
    padding: 15px 30px 15px 30px;
    border: none;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 0px 2px 10px 2px #efefef;
    -moz-box-shadow: 0px 2px 10px 2px #efefef;
    box-shadow: 0px 2px 10px 2px #efefef;
}
.riskfree{    text-align: left;
    background: #FCFDD9;    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 10px;
    -webkit-box-shadow: 0px 2px 10px 2px #565657;
    -moz-box-shadow: 0px 2px 10px 2px #565657;
    box-shadow: 0px 2px 10px 2px #565657;}
	.try-message {
    border: 1px solid #0350A8;
    background: #74DAFC;
    padding-top: 4%;
    padding-bottom: 4%;
    border-radius: 10px;
}
.right-content img {
    max-width: 100%;
    height: auto;    font-size: 13px;
    padding: 0px;
}
.inner-right-content p.testimonial-img img {
    margin: 5px 0px 10px 10px;
    /* height: 30px; */
    width: 30%;
}
.inner-right-content {
    padding: 15px 20px 0px 20px;
}
.right-content {
    background: #fff2f2;
    border: 1px solid #79000d;
    margin: 0px 0px 0px 20px;
    padding: 0px;font-size: 14px;
}
.inner-right-content {
    padding: 15px 20px 0px 20px;
    padding-bottom: 22%;
}
.mid-form {
    padding-top: 6%;
    padding-bottom: 6%;
}
.mid-form .col-sm-6 {
    padding-bottom: 19px;
}
.mid-form .col-sm-6 select {
    width: 68px;
    border: 1px solid #478fa2;
    padding: 5px;
    float: right;
}
.red-color{ color:#f00;}
.col-sm-12.try-message .col-sm-8 {
    width: 55.666667%;
}
.col-sm-12.try-message {
    width: 91%;
    display: block;
    margin: 0 auto;
    float: initial !important;
}
/* NEW SALE PAGE END */
/* Home Cash Code - sale letter End */
@keyframes  random
 {
    15% { color: red; }
    30% { color: yellow; }
    45% { color: green; }
    60% { color: blue; }
    75% { color: white; }
}
.random-color {
    -webkit-animation: random 5s infinite;
    animation: random 5s infinite;
    padding-left: 5px;
    outline: 0px;
    margin: 0px;
    float: inherit;
    margin-right: 10px;font-weight: bold;
}
ul.red-list-type li {
    background: url('../images/red-list-style-type.jpg');
    background-repeat: no-repeat;
    padding-left: 30px;
    padding-bottom: 26px;
}
ul.green-list-type li {
    background: url('../images/green-list-style-type.jpg');
    background-repeat: no-repeat;
    padding-left: 30px;
    padding-bottom: 26px;
}
.submit-button {
    display: block;
    width: 31%;
    margin: 0 auto;
    text-align: center;
    background: #ff003a;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 33px;
    margin-bottom: 13px;cursor: pointer;
}
ul.list-style-type-main li {
    list-style-type: disc;
    padding-bottom: 23px;
}

h3.red.text-center {
    font-size: 20px;
    line-height: 22px;
    /* color: #000; */
    padding: 0px 0px 15px 0px;
    font-weight: bold;
}
span.red-color-text {
    color: #f00;
}
p.access-message {
    padding-left: 0px !important;
    margin-left: 6% !important;
}
p.access-message img {
    float: left;
}
p.access-message {
    font-weight: bold;
    font-size: 18px;
    line-height: 41px;
}
.this-is-a {
    padding-left: 0px;
    font-size: 12px;
}
.div-border.text-center h1 {
    font-size: 50px;
}
.div-border.text-center h2 {
    font-size: 30px;
}
.div-border.text-center h3 {
    font-size: 22px;
}
h2.on-that-basis {
    padding-top: 11px;
    /* margin-right: 84px; */
}

.blue-box {
    background: #b9e0fe url('images/orange-box.html') repeat-x;
    padding: 10px;
    width: 700px;
    margin: 0px auto 20px auto;
}
.cream-box {
    background: #fefdf1;
    padding: 15px;
}
.blue-box h1 {
    padding: 0px;
}
.blue-box h1, .blue-box h2, .blue-box h3 {
    text-align: center;
    padding: 10px 0px;
}
.blue-box h3 {
    font-size: 20px;
    line-height: 22px;
    color: #000;
    padding: 0px 0px 15px 0px;
}
.blue-box h2 {
    font-size: 30px;
    color: #000;
    letter-spacing: -1px;
    padding: 0px 0px 15px 0px;
}
.blue-box h1 {
    font-size: 40px;
    line-height: 45px;
        color: #0590ff;
    text-shadow: 1px 1px 1px #000;
    letter-spacing: -1px;
    padding: 0px 0px 20px 0px;
}

.blue-box h1 {
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.blue-box h2 {
    margin-bottom: 0px;
}
/*----- ONLY FOR CALCULATOR */
.blue-bg {
    background: #06acef;
    padding: 10px;
    border-radius: 10px;
}
.inner-cal {
    background: #fff;
    padding: 19px;
    border-radius: 10px;
}
.blue-bg h3 {
    font-size: 20px;
    color: #fff;
}
.arrow-image p img {
    float: left;
    margin-right: 10px;
}
.inner-row select {
    float: right;
    width: 62px;
    border: 1px solid #06acef;
    outline: 0px;
}
.inner-result {
    background: #efefef;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #ccc;
}
.inner-result p{ font-weight:bold; color:#f00;}
.get-an-estimate-button
{
margin-left: -36px;
}
.blue-bg .col-sm-6 {
    width: 45%;
}
.inner-row.calculator-div p {
    margin-bottom: 7px;
    margin-top: 5px;
}
.left-content {
    padding-left: 0px;
}
.col-sm-8.col-sm-offset-2.riskfree img {
    cursor: pointer;
}
.joinbttn.col-sm-4 {
    cursor: pointer;
}
.op-custom-html-block {
    margin-top: 10%;
}
input.check-for-availability-now {
        /* background: url('http://45minutepaydays.com/wp-content/uploads/check-for-availability-now.png'); */
    background: url('../../../45minutepaydays.com/wp-content/uploads/submitBtn.png');
    display: block;
    width: 549px;
    height: 68px;
    border: 0px;
    display: block;
    margin: 0 auto;
    color: #c42b00;
    background-repeat: no-repeat;
    outline: 0px;
    cursor: pointer;
}
.test-page {
    display: none;
}

.container-fluid.container-fluid-container-head {
    padding-top: 10px;
    padding-bottom: 10px;
}

.op-custom-html-block a {
    color: #0a00ff;
    font-size: 16px;
    text-decoration: underline;
    margin-bottom: 10px;
}
ul.red-list-type li {
    list-style-type: none;
}
ul.green-list-type li {
    list-style-type: none;
}
.col-sm-12.try-message h3 {
	    font-size: 20px;
}
input.form-control.blank_value {
    display: none;
}
.joinbttn a {
    color: #fff;
}
.joinbttn.col-sm-4 a {
    color: #fff;
}
.logo-row {
    padding-bottom: 37px;
    padding-top: 31px;
}

.logo-row img {
    display: block;
    margin: 0 auto;
}
.inner-content-main{    padding: 50px;
    border: 1px solid #ccc;}
input.check-for-availability-now:hover {
    background-position: 0 -68px;
}



.video-frame {
	position: relative;
}
.video-frame iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video-frame {
    position: relative;
    width: 480px;
    height: 270px;
    clear: both;
    margin: 0 auto;
    margin-bottom: 19px;
}
.riskfree {
    padding: 10px !important;

}
.safari .riskfree .col-sm-9 {
width: 93% !important;
}
.safari .riskfree .center-image {
width: 100%;
}
/* REPONSIVE ISSUE */

/* REPONSIVE ISSUE END */




/*
==========================
Added By Chanda
==========================
*/