/* CSS Document */
body{
	margin:0;
	padding:0;
	background: url("images/bgtile.jpg") repeat;
	font-family: Tahoma, Geneva, sans-serif;
	font-size:19px;
	color:#2a2015;
}
.videobg, .lightcontentbg, .mlgs_01, .lightcontentbg, .mlgs_02,
.yellowcontentbg, .mlgs_03, .mlgs_04, .mlgs_05, .darkyellowcontentbg,
.mlgs_06, .mlgs_07, .darkcontentbg, .mlgs_07, .mlgs_09, .mlgs_10, .mlgs_11, .mlgs_12, footer{
	margin-top: -2px;
}
img{
	border:none;
	display: block;
}
#wrapper{
	width: 963px;
	height: auto;
	margin: 0 auto;
}
.mlgs01{
	width: 963px;
	height: 355px;
	background:url("images/header.png") no-repeat;
}
.loginbuttonarea{
	width: 173px;
	height: 45px;
	margin: 4px 59px 0 0;
	float: right;
}
.loginbuttonarea a{
	display: block;
}
.loginbutton{
	width: 173px;
	height: 45px;
	background:url("images/loginbutton.png") no-repeat;
}
.loginbutton:hover{
	background:url("images/loginbuttonR.png") no-repeat;
}
.videobg{
	width: 963px;
	height: 591px;
	overflow: hidden;
	background:url("images/videobg.png") no-repeat;	
}
.videoinner{
	width: 634px;
	height: 357px;
	margin: 5px 0 0 165px;
}
.videobuttonarea{
	width: 360px;
	height: 63px;
	margin: 30px auto 0;
}
.videobuttonarea a{
	display: block;
}
.videobutton{
	width: 360px;
	height: 63px;
	background:url("images/videobutton.png") no-repeat;
}
.videobutton:hover{
	background:url("images/videobuttonR.png") no-repeat;
}
.lightcontentbg{
	width: 963px;
	height: auto;
	background:url("images/lightcontentbg.png") repeat-y;
	overflow: hidden;
}
.contentinner{
	width: 630px;
	height: auto;
	margin: 0 auto;
}
.contentinner h4{
	color: #ff0000;
	font-size: 19px;
	font-weight: bold;
}
.mlgs_01{
	width: 963px;
	height: 385px;
	background:url("images/mlgs_01.png") no-repeat;
}
.bullet_cross ul{
	margin: 36px 0 0 24px;
    padding: 0;
    width: 610px;
}
.bullet_cross li{
	background: rgba(0, 0, 0, 0) url("images/bullet_cross.png") no-repeat scroll 0 0;
    font-size: 23px;
    height: auto;
    line-height: 31px;
    list-style: outside none none;
    padding-bottom: 11px;
    padding-left: 40px;
}
.bullet_tick ul{
	margin: 36px 0 0 24px;
    padding: 0;
    width: 610px;
}
.bullet_tick li{
	background: rgba(0, 0, 0, 0) url("images/bullet_tick.png") no-repeat scroll 0 0;
    font-size: 23px;
    height: auto;
    line-height: 31px;
    list-style: outside none none;
    padding-bottom: 11px;
    padding-left: 40px;
}
.mlgs_02{
	width: 963px;
	height: 176px;
	background:url("images/mlgs_02.png") no-repeat;
}
.yellowcontentbg{
	width: 963px;
	height: auto;
	background:url("images/yellowcontentbg.png") repeat-y;
	overflow: hidden;
}
.mlgs_03{
	width: 963px;
	height: 310px;
	background:url("images/mlgs_03.png") no-repeat;
}
.mlgs_04{
	width: 963px;
	height: 411px;
	background: url("images/mlgs_04.png") no-repeat;
}
.mlgs_05{
	width: 963px;
	height: 179px;
	background:url("images/mlgs_05.png") no-repeat;
}
.darkyellowcontentbg{
	width: 963px;
	height: auto;
	background:url("images/darkyellowcontentbg.png") repeat-y;
	overflow: hidden;
}
.mlgs_06{
	width: 963px;
	height: 260px;
	background:url("images/mlgs_06.png") no-repeat;
}
.darkcontentbg{
	width: 963px;
	height: auto;
	background:url("images/darkcontentbg.png") repeat-y;
	overflow: hidden;
}
.mlgs_07{
	width: 963px;
	height: 383px;
	background:url("images/mlgs_07.png") no-repeat;
}
.mlgs_08{
	width: 963px;
	height: 398px;
	background:url("images/mlgs_08.png") no-repeat;
}
.mlgs_09{
	width: 963px;
	height: 300px;
	background:url("images/mlgs_09.png") no-repeat;
}
.mlgs_10{
	width: 963px;
	height: 387px;
	background:url("images/mlgs_10.png") no-repeat;
}
.mlgs_11{
	width: 963px;
	height: 232px;
	background:url("images/mlgs_11.png") no-repeat;
}
.tesvideo{
	width: 443px;
	height: 249px;
	margin: 50px auto;
	background: none;
}
.mlgs_12{
	width: 963px;
	height: 193px;
	background:url("images/mlgs_12.png") no-repeat;
}
.startedbuttonarea{
	width: 360px;
	height: 63px;
	margin: 50px auto;
}
.startedbuttonarea a{
	display: block;
}
.startedbutton{
	width: 360px;
	height: 63px;
	background:url("images/startedbutton.png") no-repeat;
}
.startedbutton:hover{
	background:url("images/startedbuttonR.png") no-repeat;
}
.accessbuttonarea{
	width: 449px;
	height: 63px;
	margin: 50px auto 30px;
}
.accessbuttonarea a{
	display: block;
}
.accessbutton{
	width: 449px;
	height: 63px;
	background:url("images/accessbutton.png") no-repeat;
}
.accessbutton:hover{
	background:url("images/accessbuttonR.png") no-repeat;
}
footer{
	width: 963px;
	height: 154px;
	background:url("images/footerbg.png") no-repeat;
	overflow: hidden;
	color: #FFF;
	font-size: 13px;
}
.footerinner{
	width: 734px;
	margin: 66px 0 0 136px;
	overflow: hidden;
}
.copyrightstext{
	width: 300px;
	margin: 0;
	float: left;
}
.footermenu{
	width: 400px;
	margin: 21px 15px 0 0;
	float: right;
}
.footermenu ul{
	margin:0;
	padding:0;
}
.footermenu ul li{
	float:left;
	list-style:none;
	border-right: 1px solid #FFF;
    margin: 0 10px 0 0;
}
.footermenu ul li:last-child{
	border: none;
}
.footermenu ul li a{
	text-decoration: none;
	margin: 0 10px 0 0;
	color: #FFF;
}
.footermenu ul li a:hover{
	text-decoration:underline;
}





/*********** Order page ****************/




header{
	width: 1195px;
	height: 224px;
	margin: 0 auto;
	background:url("images/orderpageheader.png") no-repeat;
}
.orderpagesteps{
	width: 1195px;
	height: 102px;
	margin: 0 auto;
	background:url("images/orderpagesteps.png") no-repeat;
}
.obgtile{
	width: 1195px;
	height: auto;
	margin: 0 auto;
	background:url("images/orderpagecontentbg.png") repeat-y;
}
.ocontentbg{
	width: 971px;
	height: auto;
	margin: 0 auto;
	font-family: arial, sans-serif;
	color: #323232;
	font-size: 15px;
}
.ocontentinner{
	width: 915px;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
}
/*paragraph and h1 class for after divider area*/
.ocontentinner p{
	width: 97%;
	margin: 10px 0 20px 10px;
	color: #2a2015;
}
.ocontentinner h1{
	width: 97%;
	margin: 0 0 20px 10px;
	color: #2a2015;
	font-size: 21px;
}
.guaranteetext{
	float: left;
	margin: 25px 0 20px 8px;
	font-size: 19px;
}
.guaranteetext span{
	font-size: 24px;
	font-weight: bold;
}
.steptitle{
	width: 100%;
	float: left;
}
.steptitle h3{
	background-color: #fff3cf;
	font-size: 18px;
	font-weight: normal;
	color: #883009;
	padding: 11px 0 11px 22px;
	border-radius: 35px;
	margin: 10px 0 20px 0;
}
.steptitle h3 b{
	font-weight: bold;
	font-size: 20px;
}
.leftcontent{
	width: 485px;
	height: auto;
	float: left;
	overflow: hidden;
}
.contactForm{
	width:477px;
	height:auto;
	float:left;
	margin:0 0 0 5px;	
}
.feild{
	background: none;
	width:475px;
	height:34px;
	margin: 0 0 13px 0;
    position: relative;
    border: 1px solid #cbcbcb;
    -webkit-border: 1px solid #cbcbcb;
    -moz-border: 1px solid #cbcbcb;
}
.feild input{
	background:none;
	border:0;
	color:#909090;
	font-size:13px;
	margin:9px 0 0 12px;
	width:450px;
}
.CVV{
	background: none;
	width:110px;
	height:34px;
	margin: 0 0 13px 0;
    position: relative;
    border: 1px solid #cbcbcb;
    -webkit-border: 1px solid #cbcbcb;
    -moz-border: 1px solid #cbcbcb;
}
.CVV input{
	background:none;
	border:0;
	color:#909090;
	font-size:13px;
	margin:9px 0 0 12px;
	width:90px;
}
.zipcode{
	background: none;
	width:130px;
	height:34px;
	float: left;
	margin: 0 0 13px 13px;
    position: relative;
    border: 1px solid #cbcbcb;
    -webkit-border: 1px solid #cbcbcb;
    -moz-border: 1px solid #cbcbcb;
}
.zipcode input{
	background:none;
	border:0;
	color:#909090;
	font-size:13px;
	margin:9px 0 0 12px;
	width:90px;
}
.expiremonth{
	background: none;
	float: left;
	width:196px;
	height:34px;
	margin: -9px 0 13px 0;
    position: relative;
    border: 1px solid #cbcbcb;
    -webkit-border: 1px solid #cbcbcb;
    -moz-border: 1px solid #cbcbcb;
}
.dropdownfeild{
	background: url("images/dropdownimg.jpg") no-repeat;
	background-position: right;
    border: 0;
    appearance: none;
    -webkit-appearance:none;
  	-moz-appearance:none;
  	-ms-appearance: none;
  	-o-appearance: none;
    color: #a9a090;
    font-size: 13px;
    padding: 0 44px 0 20px;
    text-align: right;
    width: 196px;
    height: 34px;
}
.expireyear{
	background: none;
	float: left;
	width:196px;
	height:34px;
	margin: -9px 0 13px 10px;
    position: relative;
    border: 1px solid #cbcbcb;
    -webkit-border: 1px solid #cbcbcb;
    -moz-border: 1px solid #cbcbcb;
}
.selectcountryfeild{
	background: url("images/dropdownimg.jpg") no-repeat;
	background-position: right;
    border: 0;
    appearance: none;
    -webkit-appearance:none;
  	-moz-appearance:none;
  	-ms-appearance: none;
  	-o-appearance: none;
    color: #a9a090;
    font-size: 13px;
    padding: 0 44px 0 20px;
    text-align: right;
    width: 243px;
    height: 34px;
}
.selectcountry{
	background: none;
	float: left;
	width:243px;
	height:34px;
	margin: 0 0 13px 0;
    position: relative;
    border: 1px solid #cbcbcb;
    -webkit-border: 1px solid #cbcbcb;
    -moz-border: 1px solid #cbcbcb;
}
.contactForm h4{
	color: #0071D0;
    font-size: 13px;
    font-weight: normal;
    margin: -39px 0 20px 125px;
    text-align: left;
    width: 100px;
}
.contactForm p{
 	font-size: 13px;
    margin: 0px 0 13px 13px;
}
.securitytext{
	width: 450px;
	height: auto;
	padding: 5px 0 0;
    width: 445px;
}
.buttontoptext{
	float: left;
}
.buttontoptext p{
	font-size: 14px;
	margin: 0 5px 10px 0;
}
.orderpagebuttonarea{
	width: 481px;
	height: 63px;
	margin: 20px 0 15px;
}
.orderpagebuttonarea a{
	display: block;
}
.orderpagebutton{
	width: 481px;
	height: 63px;
	background:url("images/orderpagebutton.png") no-repeat;
}
.orderpagebutton:hover{
	background:url("images/orderpagebuttonR.png") no-repeat;
}
.rightcontent{
	width: 402px;
	height: auto;
	float: right;
	overflow: hidden;
	margin: 0;
}
.orderbullet_tick{
	width:380px;
	margin:0;
	float: left;
}
.orderbullet_tick ul{
	margin: 5px 0 0 15px;
    padding: 0;
}
.orderbullet_tick li{
	background: rgba(0, 0, 0, 0) url("images/bullet_tick.png") no-repeat scroll 0 0;
    font-size: 15px;
    height: auto;
    list-style: outside none none;
    padding-bottom: 20px;
    padding-left: 40px;
}
.orderbullet_tick span{
	text-decoration: line-through;
	color: #ee0909;
}
.orderpagedivider{
	width: 1195px;
	height: 98px;
	margin: 0 auto;
	background:url("images/orderpagedivider.png") no-repeat;
}
.orderfooter{
	width: 1195px;
	height: 128px;
	margin: 0 auto;
	overflow: hidden;
	background:url("images/orderpagefooter.png") no-repeat;
	color: #FFF;
	font-size: 13px;
}
.orderfooterinner{
	width: 971px;
	margin: 62px 0 0 133px;
	overflow: hidden;
}
.orderfooter p{
	font-size: 13px;
	margin: 0;
}
.orderfooter a{
	color: #0095ab;
}
.orderfootermenu{
	width: 400px;
	margin: 9px 15px 0 0;
	float: right;
}
.orderfootermenu ul{
	margin:0;
	padding:0;
}
.orderfootermenu ul li{
	float:left;
	list-style:none;
	border-right: 1px solid #FFF;
    margin: 0 10px 0 0;
}
.orderfootermenu ul li:last-child{
	border: none;
}
.orderfootermenu ul li a{
	text-decoration: none;
	margin: 0 10px 0 0;
	color: #FFF;
}
.orderfootermenu ul li a:hover{
	text-decoration:underline;
}
body#join .orderpagesteps, body#join .obgtile, body#join .orderpagedivider, body#join .obgtile, body#join .orderfooter {
    margin-top: -2px;
}