body {
    font-family: 'Oxygen', sans-serif;
    color: #444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

p {
	color: #333;
}

.no-text {
    text-decoration: underline;
    color: #333;
    text-align: center;
}

h1 {
    font-size: 47px;
	line-height: 1;
	letter-spacing: -1px;
}

h1 sup {
	font-size: 10px;
	top: -25px;
}

h3 sup {
    font-size: 10px;
    top: -25px;
}

p sup {
	font-size: 10px;
    top: -13px;
}

ul sup {
	font-size: 10px;
    top: -13px;
}

h2 {
    font-size: 56px;
}

h3 {
    font-size: 32px;
}

h4 {
	font-size: 26px;
}

.serif-quote {
	font-family: 'Playfair Display', serif;
}

.bg-primary {
    background-color: #F2F2F2 !important;
}

.text-primary {
    color: #BD5D38 !important;
}

a {
    color: #BD5D38;
}

a:hover,
a:focus,
a:active {
    color: #B71E4C;
	text-decoration: none;
}

nav {
	border-bottom: 5px solid #B71E4C;
}

.text-pink {
	color: #B71E4C;
}

.text-black {
	color: #000;
}

.text-grey {
	color: #5A5A5A;
}

.navbar-logo-float {
	position: fixed;
	top: 0;
	z-index: 999;
	left: 24px;
}

#menu-btn{
	position: relative;
	float: right;
	margin-right: 15px;
	padding: 9px 10px;
	margin-top: 8px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	border-color: #333;
}

#menu-btn:hover{
	background-color: #333;
}

#menu-btn .icon-bar{
	background-color: #fff;
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
}
#menu-btn .icon-bar:not(:first-child){
	margin-top: 4px;
}

#menu-bar{
	color: #fff;
	z-index: 1002;
}

.left-shadow-overlay{
	box-shadow: 10px 0 15px 10px #585858;
}

#menu-bar h6{
	background-color: #2E2E2E;
	font-size: 20px;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	color: #FFF;
}

#menu-bar small {
	font-size: 12px;
}

#menu-bar .handle{
	background: #000;
	padding: 12px;
	position: absolute;
	left: -49px;
	bottom: 0;
	cursor: pointer;
}

.btn-pink {
	font-size: 20px;
    font-weight: 700;
    padding: 12px 32px;
    background: #b71e4c;
    border: 2px solid #b71e4c;
    color: #FFF;
	max-width: 300px;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 16px;
}

.btn-pink:hover, .btn-pink:focus, .btn-pink:active {
	background: #C5326D;
    border: 2px solid #C5326D;
    color: #FFF;
}

.hyperlink {
	text-decoration: underline;
	color: #093f94;
	font-weight: 700;
}

.hyperlink:hover, .hyperlink:focus, .hyperlink:active {
	color: #b71e4c;
	text-decoration: underline;
}

.signature {
	font-family: 'Allura', cursive;
	font-weight: normal;
}

.card {
	border-radius: 0;
}

.card h4 {
	color: #5A5A5A;
}

.card h6 {
	margin-bottom: 0;
}

.subheading {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
}

.bg-dark {
	background-color: #000 !important;
	border-bottom: 5px solid #B71E4C;
}

.navbar-brand {
	font-size: 24px;
	font-weight: 900;
}

.footer-light {
	background: #313131;
	color: #fff;
}

.footer-light p {
	font-size: 14px;
	color: #fff;
	line-height: 1.4;
}

.footer-light ul {
	padding: 0;
}

.footer-light ul li {
	list-style-type: none;
	display: inline-block;
}

.footer-light ul li a {
	color: #fff;
	margin-right: 16px;
	text-transform: uppercase;
	font-size: 14px;
}

.footer-light ul li a:hover, .footer-light ul li a:focus {
	color: #B71E4C;
}

.footer-dark {
	background: #313131;
	color: #fff;
}

.footer-dark h6 {
	font-size: 14px;
	color: #fff;
	font-weight: 400;
}

.call-mobile {
	position: absolute;
    right: 16px;
    top: 64px;
	font-weight: 900;
	color: #FFF;
}

.hvr-grow-shadow {
	background: #fff;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transform:translateZ(0);transform:translateZ(0);
	-webkit-backface-visibility: hidden;backface-visibility: hidden;-moz-osx-font-smoothing: grayscale;
	-webkit-transition-duration: 0.3s;transition-duration: 0.3s;
	-webkit-transition-property: all;
	transition-property: all;
	z-index: 3;
}

/* .hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
	box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
	-webkit-transform: scale(1);transform: scale(1);
} */
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
    box-shadow: 0px 20px 15px -20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1);
    transform: scale(1);
}
/* Box Shadow Outset */
.hvr-box-shadow-outset {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: all;
	transition-property: all;
}

.hvr-box-shadow-outset:hover, .hvr-box-shadow-outset:focus, .hvr-box-shadow-outset:active {
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

/* Box Shadow Inset */
.hvr-box-shadow-inset {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow;
	transition-property: box-shadow;
 /* Hack to improve aliasing on mobile/tablet devices */
}

.hvr-box-shadow-inset:hover, .hvr-box-shadow-inset:focus, .hvr-box-shadow-inset:active {
	box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.6), 0 0 1px rgba(0, 0, 0, 0);
 /* Hack to improve aliasing on mobile/tablet devices */
}

section.footer-light {
	padding-top: 32px !important;
    padding-bottom: 16px !important;
}

section.footer-dark {
	padding-top: 16px !important;
    padding-bottom: 16px !important;
}

section.glow-section {
    padding-top: 32px;
    padding-bottom: 32px;
}

section.glow-section.no-padding-top{
	padding-top:0px !important;
}

section.glow-section.no-padding-bottom{
	padding-bottom:0px !important;
}

section.glow-section .glow-item .glow-date {
    min-width: none;
}

#accordion p {
	margin-left: 5px;
	text-indent: 0;
	max-width: 90%;
}

#accordion .btn-link {
	width: 100%;
    text-align: left;
    position: relative;
	border-top: 2px solid rgba(0,0,0,.125);
	padding: 16px 0;
	font-size: 20px;
	font-weight: 800;
	color: #000;
	border-radius: 0 !important;
}

#accordion .btn-link.focus, #accordion .btn-link:focus {
	text-decoration: none !important;
	color: #B71E4C;
}

#accordion .btn-link:hover {
	color: #B71E4C;
	text-decoration: none;
}

#accordion .btn-link span {
	max-width: 80%;
	display: inline-flex;
}

[data-toggle="collapse"] .fa:before {
	content: url("https://cdn.truegcloud.com/cyabags/accordion-arrow-before.svg");
	position: absolute;
	right: 16px;
	margin-top: -16px;
	width: 17px;
}

[data-toggle="collapse"].collapsed .fa:before {
  	content: url("https://cdn.truegcloud.com/cyabags/accordion-arrow-after.svg");
	width: 32px;
	height: 21px;
}

.footnote {
	background: #F9F9F9;
    padding: 28px;
}

.footnote p {
	font-size: 12px !important;
	text-indent: 0 !important;
	word-break: break-all;
	margin-bottom: 10px;
}

.footnote p:last-child {
	margin-bottom: 0;
}

.btn-fade {
	bottom: 0;
    display: none;
    font-weight: 700;
	left: 0;
	margin: 2% auto;
    position: fixed;
	right: 0;
    top: auto;
    width: 92%;
    z-index: 999;
}

@media (min-width: 768px) {
	section.glow-section {
		padding-top: 16px !important;
		padding-bottom: 16px !important;
	}
	.btn-fade {
		bottom: auto;
		left: auto;
		margin: auto;
		right: 15px;
		top: 20px;
		width: auto;
	}
}

@media (min-width: 992px) {
    section.glow-section {
        padding-top: 16px !important;
        padding-bottom: 16px !important;
    }
	.footer-dark img {
		float: right;
	}
    .navbar {
        padding: 0;
    }
    .navbar-doctor {
		margin-top: 36px;
	}
	.navbar-doctor p {
		font-size: 15px;
	}
    .navbar-logo {
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        width: 140px;
        margin-top: 16px;
    }
    /***** Fade out ATC BUtton starts ***/
    .fade-container > div{
      padding-left: 0;
      padding-right:0;
    }
    .fade-container .fade-box{
      transition: all 0.3s;
      padding-left: 15px;
      padding-right: 15px;
    }
    .fade-container:hover .fade-box{
      opacity: 0.2;
    }
    .fade-container .fade-box:hover{
      opacity: 1 !important;
    }
    /***** Fade out ATC BUtton stops***/


}

@media (min-width: 1200px) {
	section.glow-section, .footer-light .max-footer {
		max-width: 1088px;
		margin: 0 auto;
	}
	.footer-light .w-100, .footer-dark .w-100 {
		max-width: 992px;
		margin: 0 auto;
	}
}

@media (max-width: 991px) {
	.bg-primary {
		background-color: #000 !important;
		border-bottom: 5px solid #B71E4C;
		height: 112px;
	}
	.navbar-logo {
		width: 130px;
	}
	h1 {
		font-size: 28px;
	}
	h3 {
		font-size: 19px;
	}
	.footer-dark, .footer-light {
		text-align: center;
	}
	.footer-dark img {
		float: none;
		text-align: center;
		margin-top: 16px;
			margin-bottom: 50px;
	}
	h1 sup {
		top: -15px;
	}
	h3 sup {
		top: -15px;
	}
}

@media (max-width: 480px) {
	.footer-dark img {
		max-width: 90%;
	}
	.navbar-logo {
		width: 100px;
	}
	.fade-container .col-4 {
		padding-left: 5px;
		padding-right: 5px;
	}
	section.glow-section {
		padding-top: 8px;
    	padding-bottom: 8px;
	}
	.btn-pink {
		font-size: 16px;
		min-width: 100px;
		padding: 12px 0;
	}
	
	.btn-outline-pink{
		font-size: 16px;
		min-width: 100px;
		padding: 12px 0;
		
	}
	#accordion .btn-link span {
		max-width: 80%;
		display: inline-flex;
	}
}

.greytext {
	color: #b70049;
	font-family: 'Oxygen', sans-serif;
	font-weight: 700;
	font-size: 16px;
	background-color: #c3c3c3;
	text-align: center;
	padding: 5px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 15px;
	width: 80%;
}

.underlined-text {
    text-decoration: underline;
}
