/* MODAL FOR - offer_101/cart/index.php */
.modal-dialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    overflow: auto;
    pointer-events: none;
}

.modal-dialog:target {
    opacity: 1;
    pointer-events: auto
}

.pop-up-one > div {
    width: 830px;
    position: relative;
    margin: 2% auto;
    padding: 0;
    border-radius: 5px;
    z-index: 10000;
    overflow-x: hidden;
    max-height: 90%;
    /*height: 410px;*/
    /*background: radial-gradient(circle at top left, #d6d6d6, #fff);*/
    /*background: -moz-radial-gradient(circle at top left, #d6d6d6, #fff);*/
    /*background: -webkit-radial-gradient(circle at top left, #d6d6d6, #fff);*/
    /*background: -o-radial-gradient(circle at top left, #d6d6d6, #fff);*/

    background-color: #f7f7f7;
    box-shadow: 0px 0px 100px #000000;
}

.pop-up-one > div h2,.modal-dialog > div h3{
    padding:0;
    margin: 50px 0 0 0;
    font-family: Arial,sans-serif;
    font-size:37px;
    color: #5e5656;
    text-align: center;
}
.pop-up-one > div h3{
    margin: 0px 0 10px 0;
    color: #1369c0;
}

.pop-up-one > div .close-popup{
    position: absolute;
    top:28px;
    right:28px;
}

.pop-up-one > div .content{
    background-image: url(../images/popup/content.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    text-align: left;
    margin-bottom: 25px;
}
.pop-up-one > div .content p{
    font-family: "Arial";
    font-size:18px;
    color: #262626;
    line-height: 1.5;
    padding-left: 30px;
    width: 486px;
    text-align: justify;
}
.pop-up-one > div .content p span{
    background-color: #ffff00;
    padding:2px;
}

.pop-up-one > div .content .form{
    position: relative;
    margin-top:150px;
    padding-left:120px;
    height:105px;
}
.pop-up-one > div .content .form span{
    font-family: "Arial";
    font-size:17px;
    color: #fff;
    display: inline-block;
    margin-top: 37px;
}
.pop-up-one > div .content .form .column{
    position: relative;
    float:left;
    width: 203px;
}
.pop-up-one > div .content .form .column label{
    display: block;
    font-family: "Arial";
    font-size:17px;
    color: #fff;
    margin-bottom: 4px;
}
.pop-up-one > div .content .form .column input[type=text]{
    border: 2px solid #c2c2c2;
    background-color: #fff;
    font-family: "Arial";
    font-size:17px;
    color: #000;
    padding: 8px 5px;
    width: 185px;
}
.pop-up-one > div .content .form .column input[type=image]{
    position: relative;
    top: 15px;
    left: 10px;
}

.modal-a {
    color: #000
}

.modal-p {
    color: #757575
}

.people-item .people-thumb {
    max-width: 300px !important
}

a .modal-a {
    cursor: pointer
}

.full-width-close {
    z-index: 9999;
    padding: 100%;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: fixed
}


/*  POPUP TWO  */


.pop-up-two {
    text-align: center;
}

.pop-up-two > div {
    width: 415px;
    position: relative;
    margin: 2% auto;
    padding: 0;
    border-radius: 5px;
    z-index: 10000;
    overflow-x: hidden;
    max-height: 95%;
    /*background: radial-gradient(circle at top left, #d6d6d6, #fff);*/
    /*background: -moz-radial-gradient(circle at top left, #d6d6d6, #fff);*/
    /*background: -webkit-radial-gradient(circle at top left, #d6d6d6, #fff);*/
    /*background: -o-radial-gradient(circle at top left, #d6d6d6, #fff);*/

    background-color: #fff;
    box-shadow: 0px 0px 100px #000000;
}

.pop-up-two > div .logo{
    margin-top: 22px;
}
.pop-up-two > div .logo p{
    font-family: Impact,Arial Black,Arial,sans-serif;
    font-size:37px;
    color: #1369c0;
    padding: 0;
    margin:0;
    line-height: 1;
    margin-top: 4px;
    margin-bottom: 4px;
    text-transform: uppercase;
}
.pop-up-two > div .product h3{
    padding: 0;
    margin:0;
    font-family: Impact,Arial Black,Arial,sans-serif;
    font-weight: normal;
    font-size:37px;
    color: #ff0000;
    margin-top: 4px;
}
.pop-up-two > div .product p{
    font-family: "Arial";
    font-size:15px;
    color: #5c5c5d;
    padding: 0;
    margin:10px 0 16px 0;
}
.pop-up-two > div .product p span{
    text-decoration: line-through;
}
.pop-up-two > div table{
    margin: auto;
    margin-bottom: 16px;
}
.pop-up-two > div table .grey{
    font-family: Impact,Arial Black,Arial,sans-serif;
    font-weight: normal;
    font-size:37px;
    color: #5c5c5d;
    padding: 0;
    margin: 0;
}
.pop-up-two > div table .blue{
    font-family: Impact,Arial Black,Arial,sans-serif;
    font-weight: normal;
    font-size:52px;
    color: #1369c0;
    padding: 0;
    margin: 0;
    margin-left:10px;
    border-bottom: 4px solid #1369c0;
}


.pop-up-two > div .bottom{
    background-color: #00477c;
    padding:10px 0 15px 0;
    border-radius: 5px;
}
.pop-up-two > div h3{
    margin: 0px 0 30px 0;
    color: #1369c0;
}

.pop-up-two > div .close-popup{
    position: absolute;
    top: 10px;
    right: 2px;
}

.pop-up-two > div .content{
    background-image: url(../images/popup/content.jpg);
    background-repeat: no-repeat;
    text-align: left;
    margin-bottom: 25px;
}
.pop-up-two > div .content p{
    font-family: "Arial";
    font-weight: bold;
    font-size:19px;
    color: #262626;
    line-height: 1.5;
    padding-left: 28px;
    width: 546px;
    text-align: justify;
}
.pop-up-two > div .content .form{
    position: relative;
    margin-top:140px;
    padding-left:120px;
    height:105px;
}
.pop-up-two > div .content .form .column{
    position: relative;
    float:left;
    width: 203px;
}
.pop-up-two > div .content .form .column label{
    display: block;
    font-family: "Arial";
    font-size:17px;
    color: #fff;
    margin-bottom: 4px;
}
.pop-up-two > div .content .form .column input[type=text]{
    border: 2px solid #c2c2c2;
    background-color: #fff;
    font-family: "Arial";
    font-size:17px;
    color: #000;
    padding: 8px 5px;
    width: 185px;
}
.pop-up-two > div .content .form .column input[type=image]{
    position: relative;
    top: 15px;
    left: 10px;
}