body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
}

p, li {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700
}

a:hover {
  text-decoration: underline
}

#wrapper {
  background: #fff;
  margin: 0 auto;
  max-width: 56.25em;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 15px #000;
}

#content {
  padding: 0 10px 0px
}

.uppercase {
  text-transform: uppercase
}

.heading {
  color: #777;
  font-size: .9em;
  padding-top: 5px;
  padding-bottom: 5px;
}

a.reference:hover {
  text-decoration: none;
}

.phone {
  color: #777;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 10px 0 -25px 0;
}

.subheadline {
  border: 1px solid #888;
  color: #777;
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  margin: 15px auto;
  padding: 0 0 3px;
  text-align: center;
  width: 56%;
}

.headingwrapper {
  background-image: -moz-linear-gradient(#fff 0%, #f8f8f8 100%);
  background-image: -webkit-linear-gradient(#fff 0%, #f8f8f8 100%);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f8f8f8));
  background-image: -o-linear-gradient(#fff 0%, #f8f8f8 100%);
  background-image: linear-gradient(#fff 0%, #f8f8f8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
}

h1, h2 {
  font-weight: 700;
  color: #990000;
  font-size: 46px;
  letter-spacing: -2px;
  line-height: 50px;
  margin: 30px 0;
}

h2 {
  color: #222;
  font-size: 35px;
  line-height: 35px;
}

.extra-seals {
  margin-bottom: 15px!important;
}

#footer {
  margin: 30px 0
}

.copyrighttext {
  color: #999;
  font-size: 12px;
  margin-top: 20px
}

.cbcopyright {
  color: #999;
  font-size: 12px;
  margin-top: 20px;
  line-height: 15px;
  text-align: center;
}

.cbcopyright p {
  font-size: 12px;
  line-height: 16px;
  margin: 0 0 10px
}

.footerlinks, .footerlinks-new {
  margin-top: 13px
}

.footerlinks a {
  display: inline-block;
  line-height: 12px;
  border-right: 1px solid #999;
  font-size: 16px;
  font-weight: bold;
  color: #777;
  padding: 0 5px
}

.footerlinks a:last-child {
  border: 0;
  padding-right: 0
}

.footerlinks-new a {
  color: #999;
  display: inline-block;
  line-height: 12px;
  border-right: 1px solid #999;
  font-size: 12px;
  padding: 0 5px
}

.footerlinks-new a:last-child {
  border: 0;
  padding-right: 0
}

.video-wrap {
  margin: 0 0 40px
}

.orderbutton {
  margin: 0 0 30px
}

.content-wrap {
  padding: 0 30px;
  display: none
}

.content-wrap .green {
  color: #6cb716
}

.otherdelayedcontent, #delayedcontent {
  display: none;
}

@media only screen and (max-width:41em) {
  body {
    background: #fff;
  }
  #wrapper {
    box-shadow: none;
  }
  #content {
    padding: 0 10px
  }
  .content-wrap {
    padding: 0
  }
  .cbcopyright {
    padding: 0 10px;
    color: #405866
  }
  .footerlinks a {
    color: #222
  }
  .orderbutton {
    margin: 0
  }
  h1, h2 {
    font-size: 25px;
    line-height: 25px
  }
  .copyrighttext {
    margin: 0;
    color: #222
  }
  span.underline {
    text-decoration: underline!important;
  }
  h2 {
    color: #222;
  }
  .delayedcontent {
    margin: 10px 0!important;
  }
}

@media only screen and (min-width:41em) and (max-width:64em) {
  body {
    background: #fff;
  }
  #wrapper {
    box-shadow: none;
  }
  #content {
    padding: 0 10px
  }
  .content-wrap {
    padding: 0
  }
  .cbcopyright {
    padding: 0 10px;
    color: #405866
  }
  .footerlinks a {
    color: #222
  }
  .orderbutton {
    margin: 0
  }
  h1, h2 {
    font-size: 32px;
    line-height: 32px
  }
  .copyrighttext {
    margin: 0;
    color: #222
  }
  span.underline {
    text-decoration: underline!important;
  }
  h2 {
    color: #222;
  }
  .delayedcontent {
    margin: 10px 0!important;
  }
}

iframe {
  border: 0;
}

.wistia_embed {
  border: 0;
  border-collapse: none;
  overflow: none;
}

.delayedcontent {
  margin: 80px 0;
}

.aligncenter {
  text-align: center;
}

.fluidVideo {
  width: 74%;
  margin: 0 auto 30px;
}

.references {
  font-style: italic;
}

.references li {
  font-size: .8em;
  margin-bottom: 15px;
}

.footer {
  font-size: 11px;
}

.footerwrapper {
  background-color: #f9f9f9;
}
