@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap");
@font-face {
  font-family: 'shrikhandregular';
  src: url("../fonts/shrikhand-regular-webfont.woff2") format("woff2"), url("../fonts/shrikhand-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html, body, .container, .row {
  height: 100%; }

body {
  font: normal 20px/1.4 'Open Sans', sans-serif;
  letter-spacing: -0.25px;
  color: #fff;
  background: url(../images/bg.jpg) no-repeat 20% 0%/cover #bf498c;
  background-attachment: fixed; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1 {
  text-align: center;
  font-family: 'shrikhandregular', serif;
  font-size: 90px;
  font-weight: normal; }
  h1 span {
    display: block;
    margin: -10px 0 30px;
    border: 5px solid #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 62px;
    text-transform: uppercase; }

a {
  color: #f6ff80;
  text-decoration: underline; }
  a:hover {
    color: #fff; }

p {
  margin: 0 0 20px; }

label {
  font-size: 13px;
  margin-left: 15px; }

.pink-bg {
  padding: 0 30px;
  background: rgba(190, 69, 137, 0.85); }

hr {
  width: calc(100% + 60px);
  height: 10px;
  margin: 30px 0 30px -30px;
  border: none;
  background: #fff; }

form img {
  display: none; }

input[type="text"],
input[type="email"],
input[type="tel"],
.fake-input,
select {
  display: block;
  margin: 0 auto 10px;
  width: 100%;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  font-size: 18px; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="tel"]:focus,
  .fake-input:focus,
  select:focus {
    border-color: #000;
    outline: none; }

.fake-input {
  margin: 5px auto 10px;
  background: #fff; }

select {
  height: 34px; }

button {
  display: block;
  margin: 15px auto 0;
  padding: 4px 30px;
  font-size: 18px;
  font-weight: 800;
  color: #fff;
  background: #4a2a3b;
  border-radius: 7px;
  border: none;
  text-transform: uppercase;
  cursor: pointer; }
  button:hover {
    background: #000; }

section {
  height: 100%; }
  section#mobile-bg {
    padding: 0; }
    section#mobile-bg img {
      width: 100%; }
  section #optForm1, section #optForm2 {
    display: none; }
  section #note {
    font-size: 14px;
    font-weight: 400; }
    section #note input {
      margin-right: 3px; }
  section #HBBDiv, section #businessOppText {
    display: none; }
  section #prev-opp label {
    font-weight: 400;
    font-size: 18px; }
  section #biz-opps {
    margin-bottom: 10px; }
    section #biz-opps label {
      display: block;
      margin-bottom: 0;
      font-weight: 400;
      line-height: 4px;
      cursor: pointer; }
    section #biz-opps input {
      margin-right: 5px;
      margin-bottom: 10px;
      transform: translateY(1px); }

.bx-wrapper {
  margin: 0;
  background: none;
  box-shadow: none;
  border: none; }

#loadingGraphic {
  display: none;
  margin: 20px auto 0; }

#loader {
  width: 44px;
  height: 44px;
  margin: 6px auto;
  -webkit-animation: 1s ease-in-out infinite animball_two;
  animation: 1s ease-in-out infinite animball_two; }
  #loader .loaderBall {
    width: 44px;
    height: 44px;
    position: absolute; }
    #loader .loaderBall .ball {
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      -webkit-animation: 1s ease-in-out infinite animball_one;
      animation: 1s ease-in-out infinite animball_one; }
      #loader .loaderBall .ball.ball1 {
        background-color: #4a2a3b;
        top: 0;
        left: 0; }
      #loader .loaderBall .ball.ball2 {
        background-color: #4a2a3b;
        top: 0;
        left: 24px; }
      #loader .loaderBall .ball.ball3 {
        background-color: #4a2a3b;
        top: 24px;
        left: 0; }
      #loader .loaderBall .ball.ball4 {
        background-color: #4a2a3b;
        top: 24px;
        left: 24px; }

@-webkit-keyframes animball_one {
  0% {
    position: absolute; }
  50% {
    top: 12px;
    left: 12px;
    position: absolute;
    opacity: 0.5; }
  100% {
    position: absolute; } }

@keyframes animball_one {
  0% {
    position: absolute; }
  50% {
    top: 12px;
    left: 12px;
    position: absolute;
    opacity: 0.5; }
  100% {
    position: absolute; } }

@-webkit-keyframes animball_two {
  0% {
    -webkit-transform: rotate(0deg) scale(1); }
  50% {
    -webkit-transform: rotate(360deg) scale(1.3); }
  100% {
    -webkit-transform: rotate(720deg) scale(1); } }

@keyframes animball_two {
  0% {
    transform: rotate(0deg) scale(1); }
  50% {
    transform: rotate(360deg) scale(1.3); }
  100% {
    transform: rotate(720deg) scale(1); } }

@media (max-width: 991px) {
  html, body, .container, .row {
    height: auto; }
  body {
    background-image: none; } }

@media (max-width: 767px) {
  body {
    font-size: 18px; }
  h1 {
    font-size: 68px; }
    h1 span {
      font-size: 46px; } }
