@import url('https://fonts.googleapis.com/css?family=Poppins');

*,html{
	box-sizing:border-box;
	font-family: 'Poppins', sans-serif;
}
body{
	background-color:#fff;font-family:"Calibri","helvetica",sans-serif;margin:0
}
a,a:hover{
	text-decoration:none;outline:0
}
.mb-0{margin-bottom:0}
@keyframes vitrate{
	0%{transform:scale(1)}
	50%{transform:scale(0.95)}
	100%{transform:scale(1)}
	}
@-webkit-keyframes vitrate{
	0%{transform:scale(1)}
	50%{transform:scale(0.95)}
	100%{transform:scale(1)}
}
header{
	color:#fff;background:#303F9F;padding:5px 10px;display:flex;align-items:center;font-family:sans-serif
}
.container-fluid{
	display:flex
}
.app-body,.hero-section{
	width:100%;text-align:center;float:left
}
.app-body{
	height:100vh;width:400px;margin:0 auto;padding-bottom:50px;background-color:#fff
}
h1{
	font-size:50px;line-height:10px;font-weight:400
}
.hero-section{
	background-color:#3F51B5;color:#fff;box-shadow:0 2px 6px rgba(0,0,0,.2);margin-bottom:2vh;border-top:10px solid #313c77;height:45vh
}
.button{
	width:80%;
	margin:auto;
	margin-top:1vh;
	margin-bottom:0;
	min-height:1px;
	padding:15px 20px;
	border-radius:5px;
	font-stretch:normal;
	font-size:20px;
	line-height:normal;
	background-color:#CDDC39;
	text-align:center;
	color:#3a3636;
	font-family:sans-serif;
	animation:vitrate 1s infinite;
	cursor:pointer;border:0;
	box-shadow:0 0 6px rgba(0,0,0,.2);
	
}
.prize-wrp img{
	max-width:250px
}
.prize-wrp{
	text-align:center;
	margin-top:3vh;
	float:left;
	width:100%;
	position:relative
}
.v-code{
	background:#fff;
	color:#333;
	padding:5px 10px;
	font-weight:600;
	width:70px;
}
.app-footer{
	position:fixed;
	bottom:0;
	text-align:center;
	padding:5px;
	background:#333;
	color:#fff;
	width:400px;
	left:50%;
	transform:translate(-50%,-0%)
}
.band{
	position:absolute;
	bottom:0;
	left:50%;
	width:120px
}
.prize-con{
	opacity:0;
	transform:scale(0);
	position:relative;
	transition:all .5s ease-in
}
.prize-con.show-prize{
	opacity:1;
	transform:scale(1)
}
.loader{
	color:#137a17;
	font-size:90px;
	text-indent:-9999em;
	overflow:hidden;
	width:1em;
	height:1em;
	border-radius:50%;
	margin:72px auto;
	position:relative;
	-webkit-transform:translateZ(0);
	-ms-transform:translateZ(0);
	transform:translateZ(0);
	-webkit-animation:load6 1.7s infinite ease,round 1.7s infinite ease;
	animation:load6 1.7s infinite ease,round 1.7s infinite ease;
	position:absolute;left:calc(50% - 40px);top:calc(30% - 40px)
}
@-webkit-keyframes load6{
	0%{box-shadow:0 -.83em 0 -0.4em,0 -.83em 0 -0.42em,0 -.83em 0 -0.44em,0 -.83em 0 -0.46em,0 -.83em 0 -.477em}
	5%,95%{box-shadow:0 -.83em 0 -0.4em,0 -.83em 0 -0.42em,0 -.83em 0 -0.44em,0 -.83em 0 -0.46em,0 -.83em 0 -.477em}
	10%,59%{box-shadow:0 -.83em 0 -0.4em,-.087em -.825em 0 -0.42em,-.173em -.812em 0 -0.44em,-.256em -.789em 0 -0.46em,-.297em -.775em 0 -.477em}
	20%{box-shadow:0 -.83em 0 -0.4em,-.338em -.758em 0 -0.42em,-.555em -.617em 0 -0.44em,-.671em -.488em 0 -0.46em,-.749em -.34em 0 -.477em}
	38%{box-shadow:0 -.83em 0 -0.4em,-.377em -.74em 0 -0.42em,-.645em -.522em 0 -0.44em,-.775em -.297em 0 -0.46em,-.82em -.09em 0 -.477em}
	100%{box-shadow:0 -.83em 0 -0.4em,0 -.83em 0 -0.42em,0 -.83em 0 -0.44em,0 -.83em 0 -0.46em,0 -.83em 0 -.477em}
}
@keyframes load6{
	0%{box-shadow:0 -.83em 0 -0.4em,0 -.83em 0 -0.42em,0 -.83em 0 -0.44em,0 -.83em 0 -0.46em,0 -.83em 0 -.477em}
	5%,95%{box-shadow:0 -.83em 0 -0.4em,0 -.83em 0 -0.42em,0 -.83em 0 -0.44em,0 -.83em 0 -0.46em,0 -.83em 0 -.477em}
	10%,59%{box-shadow:0 -.83em 0 -0.4em,-.087em -.825em 0 -0.42em,-.173em -.812em 0 -0.44em,-.256em -.789em 0 -0.46em,-.297em -.775em 0 -.477em}
	20%{box-shadow:0 -.83em 0 -0.4em,-.338em -.758em 0 -0.42em,-.555em -.617em 0 -0.44em,-.671em -.488em 0 -0.46em,-.749em -.34em 0 -.477em}
	38%{box-shadow:0 -.83em 0 -0.4em,-.377em -.74em 0 -0.42em,-.645em -.522em 0 -0.44em,-.775em -.297em 0 -0.46em,-.82em -.09em 0 -.477em}
	100%{box-shadow:0 -.83em 0 -0.4em,0 -.83em 0 -0.42em,0 -.83em 0 -0.44em,0 -.83em 0 -0.46em,0 -.83em 0 -.477em}
	}
@-webkit-keyframes round{
	0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}
	100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}
@keyframes round{
	0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}
	100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}
.link{
	color:#fff;font-size:14px
}

@media (orientation: landscape) and (max-width: 767px){
	.app-body{height:auto}
}
@media(max-width: 767px){
	.container-fluid{
		display:block
	}
	.app-body{
		width:100%
	}
	.hero-section{
		height:auto;
		margin-bottom:0
	}
	.app-footer{
		width:100%;
		left:0;
		transform:translate(-0%,-0%)
	}
	.prize-wrp img{
		max-width:48vw
	}
	.xbox-one img, .nintendo-switch img{
		max-width: 75vw;
	}
}

@media(max-width: 360px){
	.prize-wrp img{max-width:120px}
	.xbox-one img, .nintendo-switch img{max-width:200px}
	.app-footer,.link{font-size: 13px;}
}

body.ar{direction: rtl;}

.bg-hero{
	background-image: url('../images/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

*{
		font-family: 'Poppins', sans-serif;;
}
html .font-xs {
	font-size: 13px;
	padding-left: 5%;
	padding-right: 5%;
}

.divider::before {
	content: ' ';
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 150px;
	min-height: 0;
	border: 0;
	height: 2px;
	background-color: #dd2222;
	border-radius: 2px 2px 0 0;
	left: 50%;
	margin-left: -50px;
}
.visible{
	display: block;
}
.none{
	display: none;
}

@media (min-width: 768px){
	.font-tick{
		font-size: 46px;
	}
}
		