html{
    scroll-behavior: smooth;
}
*{
    font-family: 'Poppins', sans-serif;;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
.divider::before {
    content: ' ';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100px;
    min-height: 0;
    border: 0;
    height: 2px;
    background-color: #ffd629;
    border-radius: 2px 2px 0 0;
    left: 50%;
    margin-left: -50px;
}
.separator{
    padding: 2rem;
}
.text-separator{
    padding-bottom: 20px;
}
.img-thumbnail{
    padding: 0;
    border: 0;
}