/*!
Fragment - Welcome CSS
!*/

/* HERO */
.welcome-hero .hero {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.welcome-hero .hero {
    color: #fff;
    padding: 20px;
}
.welcome-hero .hero form {
    color: #333;
}
.welcome-hero .hero .heading-primary h1{
    font-size: 55px;
    margin-bottom: 0;
    margin-top: 0;
}
@media (max-width: 991px) {
    .welcome-hero .hero .heading-primary h1 {
        font-size: 300%;
    }
}
@media (max-width: 767px) {
    .welcome-hero .hero .heading-primary h1 {
        font-size: 200%;
    }
}
.welcome-hero .hero .heading-secondary h2 {
    margin-top: 0;
}
@media (max-width: 991px) {
    .welcome-hero .hero .heading-secondary h2 {
        font-size: 150%;
        margin-top: 5px;
    }
}
@media (max-width: 767px) {
    .welcome-hero .hero .heading-secondary h2 {
        font-size: 140%;
        margin-top: 20px;
    }
}
.welcome-hero .hero .heading-blocks {
    width: 75%;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px 0;
}
@media (max-width: 991px) {
    .welcome-hero .hero .heading-blocks {
        width: 105%;
        position: relative;
        left: -2.555%;
        margin-bottom: 0;
    }
}
.welcome-hero .hero .heading-blocks > div {
    position: relative;
}
.welcome-hero .hero .heading-blocks > div:after {
    content: '';
    height: 30px;
    width: 1px;
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
}
.welcome-hero .hero .heading-blocks > div:last-child:after {
    content: none;
}
@media (max-width:767px) {
    .welcome-hero .hero .heading-blocks > div:after {
        content: none;
    }
    .welcome-hero .hero .heading-blocks > div {
        border-right: 1px solid #fff;
        padding-left: 6px;
        padding-right: 6px;
    }
    .welcome-hero .hero .heading-blocks > div:last-child {
        border-right: none;
    }
}
.welcome-hero .hero .heading-blocks > div > p {
    padding: 5px 0;
    margin: 0;
}
@media (max-width: 767px) {
    .welcome-hero .hero .heading-blocks > div > p {
        text-align: center;
        font-size: 11px;
    }
}

/* HERO: Form and Image */
@media (min-width: 768px) {
    .welcome-hero .hero .hero-form .hero-img {
        float: right;
    }
}
.welcome-hero .hero .welcome-eo.eo-form .panel-heading {
    font-size: 22px;
    display: block;
    text-align: center;
    font-weight: bold;
}
.welcome-hero .hero .welcome-eo.eo-form .panel-body {
    padding-left: 24px;
    padding-right: 24px;
}
@media (max-width: 767px) {
    .welcome-hero .hero .hero-heading .heading-primary img {
        padding: 15px 0 10px;
    }
}

/* Marketing Block 2-Clolumn (evergreen content) */
.welcome-hero .marketing-block.marketing-block-2-column {
    padding-top: 10px;
}
@media (max-width:767px) {
    .welcome-hero .marketing-block.marketing-block-2-column {
        padding-bottom: 10px;
    }
}
.welcome-hero .marketing-block.marketing-block-2-column h3 {
    font-size: 20px;
}
.welcome-hero .marketing-block.marketing-block-2-column .welcome-seals {
    padding-top: 15px;
    padding-bottom: 15px;
}
@media (max-width: 767px) {
    .welcome-hero .marketing-block.marketing-block-2-column .welcome-seals {
        padding: 5px 0;
    }
}
.welcome-hero .marketing-block.marketing-block-2-column .welcome-seals a {
    display: inline-block;
    padding-right: 12px;
}
.welcome-hero .marketing-block.marketing-block-2-column .welcome-seals a:last-child {
    padding-right: 0;
}
@media (max-width:767px) {
    .welcome-hero .marketing-block.marketing-block-2-column .welcome-seals a img {
        height: 45px;
        width: auto;
    }
}

@media (min-width:768px) {
    .welcome-hero .marketing-block.marketing-block-2-column img.img-marketing {
        margin-right: 20px;
    }
}
@media (max-width:767px) {
    .welcome-hero .marketing-block.marketing-block-2-column img.img-marketing {
        float: none !important;
        margin: auto;
        max-height: 200px;
        width: auto;
    }
}


/* Marketing Block 1-Column (evergreen content) */
.welcome-hero .marketing-block-1-column .block-group {
    margin-bottom: 30px;
}
.welcome-hero .marketing-block-1-column .block-group:first-child {
    margin-top: 30px;
}
.welcome-hero .marketing-block-1-column .block-group:last-child {
    margin-bottom: 0;
}
.welcome-hero .marketing-block-1-column .block-group h3 img {
    vertical-align: bottom;
    margin-right: 5px;
    width: 30px;
    height: auto;
}

@media (min-width: 768px) {
    .welcome-hero .marketing-block-1-column .container {
        width: 85%;
        max-width: 980px;
    }
}

@media (max-width: 767px) {
    .welcome-hero .marketing-block-1-column h2 {
        font-size: 24px;
    }
    .welcome-hero .marketing-block-1-column .block-group h3 {
        font-size: 20px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .welcome .nav-user-content {
        margin-top: 3%;
    }
}