/* Option font colors for text elements */


.themecolor1{color:#000;}

.themecolor2{color:#333;}

.themecolor3{color:#003366;}

.themecolor4{color:#1666af;}

.themecolor5{color:#ee8722;}

.themecolor6{color:#6db33f;}

.themecolor7{color:#0096d6;}

.themecolor1bg{background-color:#000;}

.themecolor2bg{background-color:#333;}

.themecolor3bg{background-color:#003366;}

.themecolor4bg{background-color:#1666af;}

.themecolor5bg{background-color:#ee8722;}

.themecolor6bg{background-color:#6db33f;}

.themecolor7bg{background-color:#0096d6;}
