/* Preview Published Form CSS */
.form_block {
	clear: both;
	margin-left:1px;
	margin-right:1px;
	background:none;
}


.pf_form_table {
	
	
	width:100%;
	font: 12px/15px Arial, Helvetica, sans-serif;
	font-weight:bold;
	padding-bottom: 10px;
	padding-top: 10px;
	clear:both;

	color:#000;
	border:1px solid #ccc;
	background:#fff;
	border-collapse:inherit;
}


.pf_field_row 
{
	vertical-align: top;
	font-size:12px;
}

.pf_field_row_bad {
	vertical-align: top;
	background-color: #dc3c1e;
	font-size:12px;
	color:#fff;
}

.pf_label_cell 
{
	text-align:right;
	font-size:12px;
	
	padding: 5px 7px 5px 10px;
}

.pf_label_cell_bad {
padding: 5px 7px 5px 10px;
	text-align:right;
	font-size:12px;
	
}

.pf_label_text {
font-size:12px;
}

.pf_label_text_bad {
font-size:12px;
}

.pf_field_cell {
padding: 5px 0px 5px 0px;
font-size:12px;
}

.pf_field_cell_bad {
padding: 5px 0px 5px 0px;
font-size:12px;
}

.pf_hint_cell {
font-size:11px;
padding-left:5px;
}

.pf_hint_text {
	font-size:10px;
	color:#505050;
	display:block;
}

.pf_hint_text_bad {
font-size:10px;
	color:#505050;
	display:block;
}

.pf_hr_cell {
}

.pf_hr {
color:#ccc;
width:100%;
margin:1px auto 1px auto;
}

hr{
	height:1px;
	border:0px;
	color:#ccc;
	background-color: #ccc;
}

.pf_prefield_cell {
padding:5px 10px 5px 10px;
font-size:12px;
}

.pf_prefield_text {
font-weight:bold;
font-size:12px;
}

.pf_postfield_cell {
font-size:12px;
padding:5px 10px 5px 10px;
}

.pf_postfield_text {
font-size:12px;
}

.pf_text {
	width:150px;
	font-size:12px;
}

.pf_text_narrow {
font-size:12px; width:70px;
}

.pf_dropdown {
font-size:12px;
width:150px;
}

.pf_checktable 
{
	margin-left: -3px;
	margin-top: -3px;
	border-collapse: collapse;
	font-size:12px;
}

/*.pf_radiotable input, .pf_checktable input{float:left;}

.pf_radiotable label, .pf_checktable label{float:left;}*/

.pf_radiotable {
	

	border-collapse: collapse;
	font-size:12px;
	vertical-align:top;
}

.pf_multiline {
	font: 12px/15px Arial, Helvetica, sans-serif;
}

.pf_listbox {
font-size:12px;
}

.pf_submit_cell 
{
	padding-top: 7px;
	font-size:12px;
	padding-bottom: 7px;
	padding-left:10px;
	padding-right:10px;
}

.pf_submit_button {
padding-top: 0px;
font-size:12px;
}

.pf_submit_image {
font-size:12px;
}

 .pf_dropdown_wide{ width:300px;

 

 }

 

.pf_dropdown_narrow{ width:70px;

}



 .pf_listbox_wide{

 width:300px;

 }

 

 .pf_listbox_narrow{ width:70px;

 }



 .pf_multiline_wide{ width:300px;

 }

 

 .pf_multiline_narrow{ width:70px;

 }
 
 

 

 
  

